# Where to send problems.  Should be to devel list
MAILTO=moseley@hank.org

# Top level directory where the site is built
ROOT=/opt/swish
PATH=/usr/local/bin:/usr/bin:/bin

# Reindex the archive if a new message has come in
8,15,37,45 * * * *  rm time_to_index 2>/dev/null && $ROOT/swish_website/index_archive.sh $ROOT

# Check for updates during the day and reindex site
# Defaults to http://swish-e.org
33 * * * *          $ROOT/swish_website/build.sh $ROOT


# Create the daily tarballs
0 20 * * *          $ROOT/swish_website/bin/swish-daily.pl --topdir=$ROOT/swish_daily_build --tardir=$ROOT/swish-daily || echo "Problem building swish-daily"

# Once a day rebuild the entire site.  Should be done soon after 
# Should be done soon after the daily build so the daily is included in the website
15 20 * * *         $ROOT/swish_website/build.sh $ROOT -all
